.navbar{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right:40px;
  padding-left:20px;
  background-color: #eee;
}
.navbar.dark{
  background-color: #151515;
  color: #eee;
}

.navPart1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navPart1 img{
  height: 60px;
}
.navPart1 h1{
  color: #097EA4;
}
.navPart2{
  display: flex;
  align-items: center;
  gap: 5px;
}
.toggle-bar{
  width: 60px;
  height: 30px;
  background-color: #111;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.toggle-bar.dark{
  justify-content: flex-end;
  background-color: #fff;
}
.toggle-bar.dark .toggle-circle{
  background-color: #252525;
}
.toggle-circle{
  height: 25px;
  width: 25px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: #fff;
}
.toggle-light{
  color: #111;
  font-weight: 900;
}
.toggle-light.dark{
  color: #555;
  font-weight: 900;
}
.toggle-dark{
  color: #555;
  font-weight: 900;
}
.toggle-dark.dark{
  color: #eee;
  font-weight: 900;
}


.main{
  height: calc(100vh - 100px);
  width: 100vw;
  padding-left: 40px;
  padding-top: 40px;
  background: no-repeat right url(./Images/half-logo.svg);
}
.main.dark{
  background-color: #252525;
}
.main.dark *{
  color: #eee;
}
.main h1{
  font-weight: bold;
  font-size: 5vw;
}
.main ul{
  padding-left: 40px;
  margin-top: 40px;
  color: #555;
}
.main ul li{
  font-size: 1.5vw;
  line-height: 3vw;
}
.main ul li::marker{
  color: #097EA4;
}

@media (max-width: 450px) {
  .navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:10px;
    padding-left:5px;
    background-color: #111;
  }

  .navPart1 img{
    height: 45px;
  }
  .navPart1 h1{
    font-size: 18px;
    color: aqua;
  }

  .main{
    padding-left: 20px;
    margin-top: 40px;
    background: no-repeat right url(./Images/half-logo.svg);
    background-size: cover;
  }
  .main h1{
    color: #fff;
    font-weight: bold;
    font-size: 5vh;
  }
  .main ul{
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 20px;
    color: #555;
  }
  .main ul li{
    font-size: 3vh;
    line-height: 4vh;
  }
  .main ul li::marker{
    color: aqua;
  }
}
